
<%if @user.screen_name == ""%>
<div class="form-group profile">Screen Name: <%= @user.name %><br></div>
<%else%>
<div class="form-group profile">Screen Name: <%= @user.screen_name %><br></div>
<%end%>

<div class="form-group profile">Email Address: <%= @user.email_address %><br></div>
