body{
	background-color: #414768;
    color:white;
}

.trip_info{
	padding: 10px;
	border-radius: 5px;
	background-color: #000000;
	text-align: left;
}

.business_name{
	font-size: 2em;
}

.yelp{
	border: solid 1px white;
	text-align: left;
}
.yelpimg{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
}

.create {
	text-align: center;
}

.free {
	text-align: center;
	color: white;
}

.signin {
	margin-top: 15px;
}

.caption{
	text-align: center;
	color: white;
	font-family: 'Lemon', cursive;
}
#sign {
	text-align: center;
}

.container {
	margin-right: auto;
	margin-left: auto;
	position: center;
	text-align: center;
}

.signoutright{
	margin-right: 7px;
}
.tripbox {
	margin-top: 60px;
}
.shell{
	border: solid 1px white;
	border-radius: 10px;
	margin-left: 2px;
}
.welcome {
	margin-left: 7px;
	margin-bottom: 2px;
	text-align: left;
}
.header1{
	font-size: 3em;
	font-family: 'Lemon', cursive;
}
.quote{
	font-size: 2em;
	font-family: 'Lemon', cursive;
	margin-top: 20px;
}

.logo {
	font-family: 'Lemon', cursive;;
}
.trip_index{
	background-color: black;
	border: solid 1px black;
	border-radius: 5px;
	position: center;
}
.btn-block{
	margin-top: 10px;
}
.trip {
  margin: .4em;
  padding: 1em;
  width: auto;
  cursor: pointer;
  border: solid 1px white;
  text-decoration: none;
  color: #666666;
  border-radius: 10px;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align: center;
}

.trips {
	align:center;
}
.add_trip {
  margin: .4em;
  padding: 1em;
  width: 50em;
  cursor: pointer;
  border: solid 1px white;
  text-decoration: none;
  color: #666666;
  border-radius: 10px;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align: center;
  text-align: center;
}

.add_activity{
	color:white;

}

.activity_button{
  margin: .4em;
  padding: 1em;
  width: 19em;
  cursor: pointer;
  border: solid 1px white;
  text-decoration: none;
  color: #666666;
  border-radius: 10px;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  align: center;
  text-align: center;
}

.big {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.big:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.trip_details{

}

.trip_edit{
	color:white;
}

.trip_delete{
	color: white;
}

.triplink{
	color: white;
	font-size: 1.5em;
}

.alert{
	color: white;
}
.field_with_error{
	color:white;
}
.logo{
	font-size: 1.5em;
}

