.container {
	text_align: center;
	position: center;
}

.tripbox {
	margin-top: 60px;
}

.trip {
	margin: 1px;
	padding: 5px;
	text-align: center;
}

.welcome {
	margin-left: 7px;
	margin-bottom: 2px;
	text-align: left;
}